
main {
    animation:fadeInUpBig;
    animation-duration: 1.5s;

}
body {
    background-image: linear-gradient(to bottom, rgba(0, 108, 250, 0.618), rgba(129, 59, 234, 0.231));
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

p{

    font-size: 20px;
}

hr {   
    border: solid rgb(134, 219, 236);
    border-width: 3px;
}



 /*Define os atributos do menu lateral e o logo */
.menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.965);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

    
}

.menu .botaofechar-menu{

    position:absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;

}



#principal {
    color:rgb(5, 69, 154);
    background:none;
    padding: 1px 10px;
    transition: margin-left 0.5s;
}

/*Define os links do menu lateral*/
.menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color:rgba(0, 108, 250, 0.618);
    display: block;
    transition: 0.4s;
}
.menu a:hover{
    color:rgba(129, 59, 234, 0.231) ;
    

}




/*Menu responsivel p/ resoluções menores ele ira se ajustar*/
@media screen and (max-height: 450px){
    .menu {padding-top: 15px;}
    .menu a{font-size: 18px;}

    }

.logo  {
   
    font-family: 'Poltawski Nowy', serif;
    font-size: 60px;
    background-repeat: no-repeat;
    display:flex;
    justify-content: center;
    animation:zoomIn;
    animation-duration: 3s;
    animation-delay: 1.5s;
    margin: 20px;
}

.logo a {
    color:rgb(5, 69, 154);
    text-decoration: none;
}

#logo{position:relative}
#logo:hover{
    top:-3px;
    box-shadow: 1px 5px 10px 3px rgb(5, 69, 154);

}

/*Estilzando conteudo superior da página*/
.conteudo1 {    
    display: flex;
    background-image: url(imgs/imgconteudo1.jpg);
    background-size:calc(100%)100%;
    background-repeat: no-repeat;
    padding:10px;
    border: solid;
    border-width: 5px;
    border-radius: 10px ;
    border-color: rgb(134, 219, 236)
}

.texto1{
    font-size: 2vw;
    border:solid;
    padding:20px;
    border-color: rgb(5, 97, 107);
    border-radius: 10px;
    background-color: rgba(134, 219, 236, 0.925);
    width: 30%;
    margin:20px;
    box-shadow: 10px 10px 10px 1px rgba(22, 181, 255, 0.231);

}

.texto1 p{
    font-size: 1vw;
}

/*Estilzando conteudo do meio da pagina da página*/
.conteudo2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border:solid;
    border-width: 5px;
    border-radius: 10px;
    border-color: rgb(5, 97, 107);
    border-color: rgb(134, 219, 236);
    padding: 20px;

}

.conteudo2 h2 {
    display: flex;
    justify-content: center;
    font-size: 2vw;
    border-bottom: solid;
    border-color: rgb(134, 219, 236);
    padding-bottom: 15px;
  

}

.conteudo2 li{
    font-size: 1vw;
    margin: 15px;


}


.conteudo2 img {
    border: solid;
    border-radius: 10px;
    border-color:rgb(5, 97, 107);
    width: 30vw;
    box-shadow: 1px 1px 10px 1px rgb(5, 97, 107);

}
.conteudo3 {
    display: flex;
    align-items: center;
    justify-content: center;
    border:solid;
    border-width: 5px;
    border-radius: 10px;
    border-color: rgb(5, 97, 107);
    border-color: rgb(134, 219, 236);
    padding: 20px;

}

.texte {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}

.conteudo3 img {
    float:left;
    border: solid;
    border-radius: 10px;
    border-color: rgb(5, 97, 107);
    margin:10px;
    margin-right: 30px;
    width: 40vw ;
    box-shadow: 1px 1px 10px 1px rgb(5, 97, 107);
}

.conteudo3 p {
    font-size: 1vw;

}

.conteudo3 a {
    float: left;
    color:rgb(5, 97, 107) ;
    font-weight: bold;
    font-size: 1vw;
    text-decoration: none;

}


#linkcalculadora {
    padding: 8px;
}
#linkcalculadora:hover{
    top:-3px;
    box-shadow: 5px 5px 5px 1px rgb(5, 69, 154);
    border-radius: 10px;
    background-color:rgb(134, 219, 236);
    
}


.conteudo4 {
    background-image: url(imgs/imgconteudo5.png);
    background-repeat: repeat-x;
    background-size:auto;
    border:solid;
    border-width: 5px;
    border-radius: 10px;
    border-color: rgb(5, 97, 107);
    border-color: rgb(134, 219, 236);
    padding: 20px;
    max-width: 70;
}

.conteudo4 h1 {
        display: flex;
        justify-content: center;
        background-color: rgba(255, 0, 0, 0.776);
        border-radius: 5px;
        box-shadow:5px 5px 5px 1px ;
        padding: 10px: 
}

.conteudo4 ul, h3{
    background-color:;

}

/*Estilzando conteudo do final da pagina da página*/
.conteudo5 {
   display: flex;
   justify-content: center;
    border:solid;
    border-width: 5px;
    border-radius: 10px;
    border-color: rgb(5, 97, 107);
    border-color: rgb(134, 219, 236);
    padding: 20px;

}
.conteudo5 h2 {
    font-size: 2vw;
    border:solid;
    padding:20px;
    border-color: rgb(5, 97, 107);
    border-radius: 10px;
    background-color: rgba(134, 219, 236, 0.925);
    width:20%;
    margin:10px;
    box-shadow: 3px 5px 5px 1px rgb(5, 97, 107);
}

.conteudo5 li{
     font-size: 1vw;
    margin: 15px;
    list-style-type: square;
}

.rodape{
    background-color:rgba(134, 219, 236, 0.32);
    border: solid rgb(134, 219, 236);
    border-radius: 10px;
    padding: 0px;
}
.rodape p {
    display: flex;
    justify-content: center;
    
    margin: 15px;
}


